In [1]:
import requests
from pprint import pprint
import pandas as pd
from pathlib import Path

In [2]:
countries_file = Path("../10countries.csv")

In [3]:
countries_file_df = pd.read_csv(countries_file)

In [4]:
countries_file_df

          series_id country_code   country_name  year         value
0    NY.GDP.MKTP.CD          USA  United States  2023  2.740000e+13
1    NY.GDP.MKTP.CD          USA  United States  2022  2.570000e+13
2    NY.GDP.MKTP.CD          USA  United States  2021  2.360000e+13
3    NY.GDP.MKTP.CD          USA  United States  2020  2.130000e+13
4    NY.GDP.MKTP.CD          USA  United States  2019  2.150000e+13
..              ...          ...            ...   ...           ...
607  NY.GDP.MKTP.CD          CAN         Canada  1964  4.950366e+10
608  NY.GDP.MKTP.CD          CAN         Canada  1963  4.514034e+10
609  NY.GDP.MKTP.CD          CAN         Canada  1962  4.233621e+10
610  NY.GDP.MKTP.CD          CAN         Canada  1961  4.103819e+10
611  NY.GDP.MKTP.CD          CAN         Canada  1960  4.056377e+10

[612 rows x 5 columns]

In [5]:
countries_file_df.dtypes

series_id        object
country_code     object
country_name     object
year              int64
value           float64
dtype: object

In [6]:
cleaned_df = countries_file_df[["series_id", "country_code","year","value"]]
cleaned_df

          series_id country_code  year         value
0    NY.GDP.MKTP.CD          USA  2023  2.740000e+13
1    NY.GDP.MKTP.CD          USA  2022  2.570000e+13
2    NY.GDP.MKTP.CD          USA  2021  2.360000e+13
3    NY.GDP.MKTP.CD          USA  2020  2.130000e+13
4    NY.GDP.MKTP.CD          USA  2019  2.150000e+13
..              ...          ...   ...           ...
607  NY.GDP.MKTP.CD          CAN  1964  4.950366e+10
608  NY.GDP.MKTP.CD          CAN  1963  4.514034e+10
609  NY.GDP.MKTP.CD          CAN  1962  4.233621e+10
610  NY.GDP.MKTP.CD          CAN  1961  4.103819e+10
611  NY.GDP.MKTP.CD          CAN  1960  4.056377e+10

[612 rows x 4 columns]

In [8]:
cleaned_df = cleaned_df[cleaned_df["year"] >= 2013]
cleaned_df

          series_id country_code  year         value
0    NY.GDP.MKTP.CD          USA  2023  2.740000e+13
1    NY.GDP.MKTP.CD          USA  2022  2.570000e+13
2    NY.GDP.MKTP.CD          USA  2021  2.360000e+13
3    NY.GDP.MKTP.CD          USA  2020  2.130000e+13
4    NY.GDP.MKTP.CD          USA  2019  2.150000e+13
..              ...          ...   ...           ...
554  NY.GDP.MKTP.CD          CAN  2017  1.650000e+12
555  NY.GDP.MKTP.CD          CAN  2016  1.530000e+12
556  NY.GDP.MKTP.CD          CAN  2015  1.560000e+12
557  NY.GDP.MKTP.CD          CAN  2014  1.810000e+12
558  NY.GDP.MKTP.CD          CAN  2013  1.850000e+12

[110 rows x 4 columns]

In [12]:
all_years = sorted(cleaned_df['year'].unique())
all_years

[2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023]

In [25]:
gdp_wide = cleaned_df.pivot(index='year', columns='country_code', values='value').reindex(all_years)
gdp_wide

country_code,CAN,CHN,DEU,FRA,GBR,IND,ITA,JPN,RUS,USA
year,,,,,,,,,,
2013,1.850000e+12,9.570000e+12,3.730000e+12,2.810000e+12,2.780000e+12,1.860000e+12,2.140000e+12,5.210000e+12,2.290000e+12,1.690000e+13
2014,1.810000e+12,1.050000e+13,3.890000e+12,2.860000e+12,3.060000e+12,2.040000e+12,2.160000e+12,4.900000e+12,2.060000e+12,1.760000e+13
2015,1.560000e+12,1.110000e+13,3.360000e+12,2.440000e+12,2.930000e+12,2.100000e+12,1.840000e+12,4.440000e+12,1.360000e+12,1.830000e+13
2016,1.530000e+12,1.120000e+13,3.470000e+12,2.470000e+12,2.690000e+12,2.290000e+12,1.880000e+12,5.000000e+12,1.280000e+12,1.880000e+13
2017,1.650000e+12,1.230000e+13,3.690000e+12,2.600000e+12,2.680000e+12,2.650000e+12,1.960000e+12,4.930000e+12,1.570000e+12,1.960000e+13
2018,1.730000e+12,1.390000e+13,3.970000e+12,2.790000e+12,2.870000e+12,2.700000e+12,2.090000e+12,5.040000e+12,1.660000e+12,2.070000e+13
2019,1.740000e+12,1.430000e+13,3.890000e+12,2.730000e+12,2.850000e+12,2.840000e+12,2.010000e+12,5.120000e+12,1.690000e+12,2.150000e+13
2020,1.660000e+12,1.470000e+13,3.890000e+12,2.650000e+12,2.700000e+12,2.670000e+12,1.900000e+12,5.060000e+12,1.490000e+12,2.130000e+13
2021,2.010000e+12,1.780000e+13,4.280000e+12,2.960000e+12,3.140000e+12,3.170000e+12,2.150000e+12,5.030000e+12,1.840000e+12,2.360000e+13
2022,2.160000e+12,1.790000e+13,4.080000e+12,2.780000e+12,3.090000e+12,3.350000e+12,2.070000e+12,4.260000e+12,2.270000e+12,2.570000e+13
2023,2.140000e+12,1.780000e+13,4.460000e+12,3.030000e+12,3.340000e+12,3.550000e+12,2.250000e+12,4.210000e+12,2.020000e+12,2.740000e+13

In [26]:
cleaned_df.to_csv("../Resources/cleaned_df.csv", index=False, header=True)
gdp_wide.to_excel("../Resources/gdp_data.xlsx")